
<div id="wtf" class="flex flex-center-x">
  <%= render 'navigation/wtf/features' %>
  <div class="rules-wrapper ">
    <div class="title">
      To-Do list
    </div>
    <div class="sections">
      <div class="section-1">
        <div class="header">
          Indielab is currently in Beta. We make this list of built and upcoming features so you can keep track what's to come. <br/>
          <br/> Suggestions and feature requests are encouraged. Contact us at <strong>beta@indielab.xyz</strong>. <br/>
          <br/> Current version : v0.0
        </div>
      </div>
      <div class="section section-2">
        <div class="header">
          Built
        </div>
        <div class="text">
          
        </div>
      </div>
      <div class="section section-3">
        <div class="header">
          Upcoming Features And Fixes
        </div>
        <div class="text">
          - Comment on posts <br/>
          - Invitation system <br/>
          - Improved error handling <br/>
          - Notification center <br/>
          - Follow/Unfollow users <br/>
          - Hashtag <br/>
          - Search bar <br/>
          - Challenges<br/>
          - User avatar <br/>
          - User banner <br/>
          - Moodboard <br/>
          - Portfolio<br/>
          - Allow remixing of post<br/>
          - Create a thread of remixes <br/>
          - Start a project<br/>
          - Save drafts <br/>
          - Private posts <br/>
          - Discovery page fltered by types<br/>
          - User interests <br/>
          - Private essaging <br/>
          - Inappropriate content flagging <br/>
          - Reposts <br/>
          - @mention users<br/>
          - In-line Emoji integration <br/>
          - Better image/video/audio processing <br/>
          - Custom video and audio thumbnail <br/>
          - Hide adult contents (NSFW )<br/>
          - User Authentication <br/>
          - Able to post text documents <br/>
          - Implemented WYSIWYG for text document and caption<br/>
          - Able to post Images <br/>
          - Able to post Audio file <br/>
          - Able to post Video file <br/>
        </div>
      </div>
    </div>
  </div>
</div>

