
<div id="wtf" class="flex flex-center-x">
  <%= render 'navigation/wtf/features' %>
  <div class="rules-wrapper ">
    <div class="title">
      To-Do list
    </div>
    <div class="sections">
      <div class="section-1">
        <div class="header">
          Indielab is currently in Beta. We make this list of built and upcoming features so you can keep track what's to come. <br/>
          <br/> Suggestions and feature requests are encouraged. Contact us at <strong>beta@indielab.xyz</strong>. <br/>
          <br/> Current version : v0.4
        </div>
      </div>
      <div class="section section-2">
        <div class="header">
          Built
        </div>
        <div class="text">
          - User Authentication <br/>
          - Able to post text documents <br/>
          - Implemented WYSIWYG for text document and caption<br/>
          - Able to post Images <br/>
          - Able to post Audio file <br/>
          - Able to post Video file <br/>
          - Hide adult contents (NSFW )<br/>   
          - Follow/Unfollow users <br/> 
          - @mention users<br/>    
          - Hashtag <br/>
          - Search <br/> 
          - Notification center <br/>
          - Comment on posts <br/>
          - Invitation system <br/>          
          - Post view count <br/>    
          - Challenges<br/>
          - User interests <br/>      
        </div>
      </div>
      <div class="section section-3">
      <div class="header">
          v0.4 Priority Features and Fixes
        </div>
        <div class="text">
          - Discovery page fltered by types<br/>
          - Show amount of submissions on challenges<br/>
          - Moodboard <br/>
          - Portfolio<br/>
        </div>
        <div class="header">
          Upcoming Features And Fixes
        </div>
        <div class="text">
          - Improved error handling <br/>
          - User avatar <br/>
          - User banner <br/>
          - Allow remixing of post<br/>
          - Create a thread of remixes <br/>
          - Start a project<br/>
          - Save drafts <br/>
          - Private posts <br/>
          - Private messaging <br/>
          - Inappropriate content flagging <br/>
          - Reposts <br/>
          - In-line Emoji integration <br/>
          - Better image/video/audio processing <br/>
          - Custom video and audio thumbnail <br/>
          - Add video cover to challenges <br/>
        </div>
      </div>
    </div>
  </div>
</div>

