<div id="wtf" class="flex flex-center-x">
  <%= render 'navigation/wtf/about' %>
  <div class="about-wrapper">
    <div class="sections">
      <div class="section section-1">
        <div class="title">
          Why use Indielab?
          <hr/>
        </div>
        <div class="block">
          <div class="header">
            "every child is an artist. The problem is how to remain an artist once we grow up"<br>
            - Pablo Picasso
          </div>
          <br/>
          <div class="text">
            We conform to a society that chooses to believe creativity is only for the gifted; only for the chosen few. That’s not true.<br>
            <br>
            We created Indielab because we believe that everyone is born creative and that all of us are an artist of our own.
          </div>
        </div>
        <div class="block">
          <div class="header">
            "The Artist Playground."
          </div>
          <div class="text">
            Indielab's goal is to channel and nurture the creativity in you. Whether you create stories, pictures, music, video or you are just exploring interests; Indielab is the place for you to play and be creative.
          </div>
        </div>
      </div>
      <div class="section section-2">
        <div class="title">
          Tools for creativity.
          <hr>
        </div>
        <div class="text">
          Indielab is designed to provide you the foundation; we make our tools accessible for the average joe, but that professionals can still rely on.<br>
          <br>
          By default, there are no ads, likes or algorithm. It is bascially a creative platform managed by the community; with everything else taken away.
        </div>
        <div class="button-wrapper flex flex-center-x">
          <a class="join-button" href="/join"><button class="button" name="button" type="button">Join Indielab</button></a>
        </div>
      </div>
      <div class="section section-3">
        <div class="title">
          Unlock your potential.
          <hr/>
        </div>
        <div class="features">
                <div class="feature">
          <div class="header">
            Create anything you want.
          </div>
          <div class="text">
            Seriously, we allow you to post texts, images, audio and video; anything !
            Just post whatever you want, you have the freedom to express.
          </div>
        </div>
        <hr/>
        <div class="feature">
          <div class="header">
            Keep ideas flowing
          </div>
          <div class="text">
            Want to do something but not exactly sure what to do? Pick a Creative Challenge. Creative challenge is like a mini-contest which anyone can start and join. It is to help you to stop thinking, start doing and improve yourself.
          </div>
        </div>
        <hr/>
        <div class="feature">
          <div class="header">
            Remix anyone else's ideas
          </div>
          <div class="text">
            Build on top of each other's work, or create your own version. Create a cartoon off someone's illustration or add vocals on top of someone's instrumental.
          </div>
        </div>
        <hr/>
        <div class="feature">
          <div class="header">
            Collaborate through projects
          </div>
          <div class="text">
            Start a project where anyone can join and contribute. Turn your big idea into reality through collaboration. Create something with the community.
          </div>
        </div>
        <hr/>
        <div class="feature">
          <div class="header">
            Keep it organised
          </div>
          <div class="text">
            Things may get messy. Don't need to worry about messy feeds. Create and organised your work through our playlist system. Turn it to a moodboard, get inspired or a portfolio and showcase your best works!
          </div>
        </div>
        <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
