<nav id="wtf-nav">
  <div class="nav-wrapper flex flex-center-xy">
    <ul class="main-nav flex flex-space-around">
      <li >
        <a href="/wtf"> WTF</a>
      </li>
      <li class="active">
        <a href="/wtf/features"> Features </a>
      </li>
    </ul>
  </div>
</nav> 

<script>
  $(" [href]").each(function() {
      if (this.href == window.location.href) {
          $(this).addClass("active");
      }
  });
  </script>
  
  <style>
    .active{
      border-bottom: black solid 1px;
      color: black !important;
    }
  </style>