<div id="root">
   <div class="sections">
        <div class="section-1 section flex flex-center-xy">
             <div class=" main ">
                <div class="content">
                    <h1 div class="heading"> 
                        The Artist Playground.
                    </h1>
                    <div class="text">
                        Indielab is a place to express yourself, and be creative along the way.
                    </div>
                    <div class="button-wrapper">
                        <a href="/join">
                            <button type="button" name="button" class="join-button button">
                                Join Us
                            </button>
                        </a>
                        <a href="/wtf/about">
                            <button type="button" name="button" class="button learn-button">
                                Learn more
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>