<div id="root">
    <div class="main flex flex-center-xy">
        <div class="content">
            <div div class="heading"> 
                The Artist Playground.
            </div>
            <div class="text">
                <strong>Indielab</strong> is a social-collaborative platform for creative expressions.
            </div>
            <div class="button-wrapper">
                <a href="/join">
                    <button type="button" name="button" class="join-button button">
                        Join
                    </button>
                </a>
                <a href="/wtf/about">
                    <button type="button" name="button" class="button learn-button">
                        Learn more
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>