<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    body{
      font-family: 'Heebo', sans-serif;
      text-align: center;
    }

    img{
      width: 12rem;
      height auto;
      line-height: 1em;
      
    }

    h1{
      font-weight: 600;
      letter-spacing: 2px;
      font-size: 3rem;
      line-height: 1em;
    }

  </style>
  <body>
      
    <h1>  
        <%= image_tag(attachments['logo.png'].url) %> <br/>
        Indielab. 
    </h1>
    <p>
        Thanks a lot for requesting an invite to Indielab.xyz. You have been added to the waiting list.<br> 
        We are currently inviting users in small groups as we roll out new features. <br> 
        We will try to sqeeze you in as soon as we can!
    </p>
    <p>
     Meanwhile... don't forget to follow us on Twitter and Instagram -<strong> @indielabstuffs </strong>! <br>
     If you have any questions, drop us an email at <strong>hello@indielab.xyz </strong>!
    </p>
    <p>
      - The Indielab Team 
    </p>
  </body>
</html>