<div id="home-form">
  <div class="request-wrapper flex flex-center-xy">
    <div class="form-wrapper">
      <div class="heading">
        Indielab is invite only. Join the waiting list !
      </div>
      <div class="form">
        <%= render 'form' %>
      </div>
      <%= link_to 'â† Back To Homepage', root_path %>
    </div>
  </div>
</div>
