<div id="requested">
  <div class="request-wrapper flex flex-center-xy">
    <div class="wrapper">
      <div class="logo">
        <%= image_tag 'brand/logo' %>
      </div>
      <div class="heading">
        You are now on the waiting list.
      </div>
      <div class="message">
        Indielab is currently in beta. We will invite you as soon as we can !  
      </div>
      <div class="message">
        Follow us on Twitter/Instagram -<strong>@indielabstuffs</strong> to keep yourself updated! 
      </div>
      <%= link_to 'â† Back To Homepage', root_path %>
    </div>
  </div>
</div>
