<div id="wtf" class="flex flex-center-x">
  <%= render 'navigation/wtf/support' %>
  <div class="contact-wrapper ">
    <div class="title">
      We are here for you !
    </div>
    <div class="sections">
      <div class="section section-1">
        <div class="header">
          Come talk to us!
        </div>
        <div class="text">
          If you have any questions about Indielab, or just want to say hi, contact us at  <strong>hello@indielab.xyz</strong>.
        </div>
      </div>
      <div class="section section-3">
        <div class="header">
          Your input is appreciated!
        </div>
        <div class="text">
          Indielab is built for you. If you found any bugs in our beta or have any suggestions, do email us at  <strong>beta@indielab.xyz</strong>.
        </div>
      </div>
      <div class="section section-3">
        <div class="header">
          We are here to protect you.
        </div>
        <div class="text">
           To report copyright or trademark infringement, please contact us at <strong>abuse@indielab.xyz</strong>.
        </div>
      </div>
    </div>
  </div>
</div>

