<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    // init Masonry
    var $grid = $('.masonry').masonry({
        itemSelector: '.post',
        columnWidth: '.post',
        horizontalOrder: true,
        percentPosition: true,
        gutter: 10
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
        $grid.masonry('layout');
    });

  });
</script>
<div id="post-all">
    <% if posts.blank? %>
        <% if controller_name == "post"%>
            <div class="blank flex flex-center-xy">
                There are nothing to discover. Start creating !
            </div>
        <% elsif controller_name == "user" && action_name == "index"%>
             <div class="blank flex flex-center-xy">
                This page is empty. <br/> 
                Start following people that inspire you !
            </div>
        <% else %>   
             <div class="blank-2 flex flex-center-xy">
                This user has not posted anything
            </div>
        <% end %>
    <% else %>
        <div class="posts masonry transitions-enabled">
            <% posts.each do |post| %>
                <%= render partial: "post/#{post.post_type}", locals: {post: post} %>
            <% end %>
        </div>
    <% end %>
</div>
