<%= render '/navigation/mobile-home'%>
<div id="discover">
    <div class="header">
       <div class="heading">
             Discover Contents Made By Others
       </div>
    </div>
    <%= render 'post/posts', posts: @posts%>
</div>




