<div id="error-code">
  <div class="error flex flex-center-xy">
    <div class="wrapper">
      <div class="message">
        <h1>You have been denied.</h1>
        <p>Probably because you have no permission to do whatever you just did.</p>
      </div>
      <div class="button-wrapper">
        <a href="/" >
          <button type="button" name="button" class="button">
            Sorry
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
