<div id="error-code">
  <div class="error flex flex-center-xy">
    <div class="wrapper">
      <div class="message">
        <h1>Something went wrong...</h1>
        <p>Don't worry it's not you, it's us.</p>
      </div>
      <div class="button-wrapper">
        <a href="/" >
          <button type="button" name="button" class="button">
            I forgive you.
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
