<div id="error-code">
  <div class="error flex flex-center-xy">
    <div class="wrapper">
      <div class="message">
        <h1>Where you think you're going?</h1>
        <p>What you were looking for does not exist. Move along now.</p>
      </div>
      <div class="button-wrapper">
        <a href="/" >
          <button type="button" name="button" class="button">
            Okay...
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
