
<div id="wtf" class="flex flex-center-xy">
<div class="wtf-navigation">
  <a href="/wtf/about">About</a> <br/>
  <a href="/wtf/policies/rules">Policies</a> <br/>
  <a href="/wtf/support">Support</a> <br/>
  <a href="/wtf/features">Features</a> <br/>
</div>
</div>