<div class="collapsible">
    Interest
</div>
<div class="collapse-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: {id: "interest"}) do |f| %>
        <div class="interest ">
            <div class="view-nsfw flex ">
                <%= f.collection_check_boxes :interest_ids, Interest.all, :id, :name  do |cb| %>
                     <div>
                        <%= cb.check_box(class: "interest-checkbox", onchange: 'submitInterestAjax();')  %>
                        <%= cb.label(class: "interest-label")  %>
                     </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>

