
<div id="wtf" class="flex flex-center-x">
  <%= render 'navigation/wtf/policy' %> 
  <div class="privacy-wrapper ">
    <div class="title">
      Your privacy is our policy
    </div>
    <div class="sections">
      <div class="section-1">
        <div class="header">
          Indielab ("Indielab") takes your privacy seriously, and so should you. Please take a moment to read this document as it explains what, how and why personal information is collected when you use our website, www.Indielab.xyz (the "Site" ), and the services available thereon (the “Service”)
        </div>
      </div>
      <div class="section section-2">
        <div class="header">
          What Indielab Collects?
        </div>
        <div class="text">
          Indielab collects information you voluntarily submit to the Service, such as, the information we collect when you register for an account - like your email address, name, and username; and when you use the Services - the contents you post and comments.
          <br/>
          <br/>
          We may collect and store general, non-identifiable information about what pages you access, your general geographic location (e.g., a city, but not a street address), the device you are using and an anonymised version of your IP address using a third-party service like Google Analytics.
          <br/>
          <br/>
          In addition, we may also collect information you provide us when you respond to surveys or when you choose to contact us directly.
          <br/>
          <br/>
          By providing personal information to us and by retaining us to provide you with the Services, you voluntarily consent to the collection, use and disclosure of such personal information as specified in this Privacy Policy.
        </div>
      </div>
      <div class="section section-3">
        <div class="header">
          Why and how we use this information?
        </div>
        <div class="text">
          We use information about you as mentioned above and for the purposes listed below:
          <br/>
          <br/>
          1) To provide the Site and Services to you and to other users of the Site and Services.
          <br/>
          <br/>
          2) To improve our Services – for example by adding new features that we think our users will enjoy or will help them to create and manage their websites more efficiently.
          <br/>
          <br/>
          3) To monitor and analyse trends and better understand how users interact with our Services, which helps us improve our Services and make them easier to use
          <br/>
          <br/>
          4) To communicate with you, for example through an email, to provide support or answer questions.
          <br/>
          <br/>
          In short, your information will be used primarily to provide you with the Service. Improve the Service: Your information may be used by us internally to improve the Service and develop new products, services and features.
        </div>
      </div>
      <div class="section section-4">
        <div class="header">
          Information Sharing
        </div>
        <div class="text">
          Indielab neither rent nor sell your personal information to anyone. We have no intention of exploiting you and your privacy to make money from selling them to advertisers, data brokers, search engines or anyone else.

          We may share your information, including personal information, with third parties under several circumstances, including (1) if we believe that we need to do so to comply with applicable law or legal obligations (2) if we contract with a third party service provider to offer services for you — for example, with a credit card processing company if you decide to buy something through Indielab.

          However, as stated above, Indielab uses Google Analytics to gather statistics through information you provide by entering our Site. Google may use this information for the purpose of evaluating your use of the site, compiling reports on site activity for us and providing other services relating to site activity and internet usage.

          Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf.

        </div>
      </div>
      <div class="section section-5">
        <div class="header">
          Some stuff about cookies
        </div>
        <div class="text">
          A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Pixel tags (also called web beacons) are small blocks of code placed on websites and emails.
          <br/>
          <br/>
          Indielab uses cookies to enable our servers to recognize your web browser and tell us how and when you use Indielab. A cookie is a small amount of information that is stored in your web browser, which may contain information about you and the way you use the internet and services like the Site.
          <br/>
          <br/>
          You can turn cookies off on your web browser, but if you do, the Site may not work properly, and in some cases, you may not be able to log into the Site at all.
          <br/>
          <br/>
          There are many other third party services and web sites that may place cookies in your browser. Our privacy policy only covers our use of Indielab cookies, not cookies used by third parties.

         </div>
      </div>
      <div class="section section-6">
        <div class="header">
          You have rights
        </div>
        <div class="text">
          You have the rights to :
          <br/>
          <br/>
          1) be ‘forgotten’ by us. Contact help@indielab.xyz if you want to remove all of your personal data from Indielab.
          <br/>
          <br/>
          2) withdraw your consent by unsubscribing to our newsletter at any time through user settings.
          <br/>
          <br/>
          3) port your data to another service. Contact help@indielab.xyz for a copy of your data in a plain text format.
          <br/>
          <br/>
          4) complain regarding our use of data. If you have any concerns please contact help@indielab.xyz so we can address them and help you.

        </div>
      </div>
      <div class="section section-7">
        <div class="header">
          What about children?
        </div>
        <div class="text">
          The Site is intended for the general public, but is not meant for children under 13. We don’t knowingly collect personal information from children under 13. Please contact us if you become aware that a child under the age of 13 is using the Site, or has posted personal information about themselves on the Site, and we will work to remove both the information and the child’s account.
        </div>
      </div>
      <div class="section section-8">
        <div class="header">
          Changes to this privacy statement
        </div>
        <div class="text">
          Indielab may amend this Privacy Statement from time to time. Use of information we collect now is subject to the Privacy Statement in effect at the time such information is used.
          <br/>
          <br/>
          If we make a significant change, the notice we provide will indicate when the change will be effective. If you do not agree with the upcoming change, please delete your account. If you continue to use the Site after the stated effective date, you will be deemed to have accepted the change.
        </div>
      </div>
      <div class="section section-9">
        <div class="header">
          Questions or concerns
        </div>
        <div class="text">
          If you have any questions or concerns regarding privacy, please send us a detailed message at hello@indielab.xyz. We will make every effort to resolve your concerns.
        </div>
        <br/>
        <br/>
        <div class="header">
          Effective Date: 10 September 2018
        </div>
      </div>
    </div>
  </div>
</div>
