<div id="wtf" class="flex flex-center-x">
  <%= render 'navigation/wtf/policy' %>
  <div class="rules-wrapper ">
    <div class="title">
      Da' Rules
    </div>
    <div class="sections">
      <div class="section-1">
        <div class="header">
          In order to make this community work, there are some rules you will have to follow.
          If you break any of this rules, we may contact you and ask you to adhere. If you
          do not comply, we have the right to suspend your account.

          If you encounter anyone who are breaking the rules, report it by contacting
          abuse@indielab.xyz. Our support team will assess the situation, and take
          actions when necessary.
        </div>
      </div>
      <div class="section section-2">
        <div class="header">
          1)Don't be a jerk.
        </div>
        <div class="text">
          The internet is a network that connects people using computer.
          The other end of the computer is a human being with a complex inner life like you. Act accordingly.
        </div>
      </div>
      <div class="section section-3">
        <div class="header">
          2)Don't start sh*t.
        </div>
        <div class="text">
          Bullying, Slurs or hate speech of any kind are not tolerated. This includes violence threats or threats to hurt others in any way.
        </div>
      </div>
      <div class="section section-4">
        <div class="header">
          3)Don't promote self harm or violence.
        </div>
        <div class="text">
          Please do not post contents that glorifies and promote self-harm or those that
          contains abusive contents towards humans and robots.
        </div>
      </div>
      <div class="section section-5">
        <div class="header">
          4)Obey the law
        </div>
        <div class="text">
          You know the drill. It’s quite self-explainatory.
         </div>
      </div>
      <div class="section section-6">
        <div class="header">
          5) Impersonation
        </div>
        <div class="text">
          Don’t claim to be a person or an organization you’re not. Just be yourself.(Parody and satire are okay though!)
        </div>
      </div>
      <div class="section section-7">
        <div class="header">
          6)Don't be a nuisance.
        </div>
        <div class="text">
          Do not spam or try to mislead other through clickbaits. Do not also drag unrelated people into a discussion.
        </div>
      </div>
      <div class="section section-8">
        <div class="header">
          7) Pornography.
        </div>
        <div class="text">
        We know that there may be different definitions of this, but generally, we define pornography as visual depictions of sexually explicit acts. Nudity, in and of itself, is fine.
        </div>
      </div>
      <div class="section section-9">
        <div class="header">
          7.1)Regarding NSFW contents
        </div>
        <div class="text">
          Here in indielab, we allow you to post adult-oriented content but please respect those in our community that do not wish to see it by flagging your content Not Safe For Work (NSFW).
          If you do not choose to view adult contents, you can opt-out by clicking the "Hide NSFW" button in your user settings.
        </div>
      </div>
    </div>
  </div>
</div>
