
#create {
    @media only screen{

        .create-navigation{
            min-height: $height-full;
            margin: 0 auto;
            max-width: 250px;
            text-align: center;
            font-size: 2rem;
            font-family: sans-serif
        }


        .media, .challenge{
            max-width: 45em;
            flex-wrap: wrap;
        }
        .media a, .challenge a{
            text-align: center;
            margin: 1rem;
            font-size: 1.2rem;
        }

        .media .icon{
            border: $border;
            border-color: #575757 !important;
            padding: 1em;
            border-radius: 100px;
            margin: 1rem auto;
            width: 80px;
            height: 80px;

            &:hover{
                border-color: black !important;
            }
        }

        .challenge a{
            width: 100%
        }

        .challenge .icon{
            border: $border;
            border-color: #575757 !important;
            padding: 1em;
            margin: 1rem auto;
            width: 100%;


            &:hover{
                border-color: black !important;
            }

            img{
                width: 30px;
                height: 30px;
            }
        }


  
    }
  
    @media #{$medium-and-up}{
        .media a{
            text-align: center;
            margin: 1rem;
            font-size: 1.2rem;
        }
        .create-navigation{
            margin: 0 auto;
            max-width: 528px;
        }

        .media .icon{
            border: $border;
            padding: 1em;
            border-radius: 100px;
            margin: 1rem auto;
            width: 100px;
            height: 100px;
        }

    }
  

  }
  