
#post-show {
    @media only screen{
        .wrapper{
            padding: 1rem;
            max-width: 40em;
        }

        .content{
            min-height: 200px;
        
            .text{
                min-height: 200px;
                background: #e7e7e7;
                padding: 1rem;
                border-radius: 5px;
                width: 100%;
            }

            .plyr{
                width: 100%;
            }
        }

        

        .user-and-time, .details, .buttons{
            margin-top: 1em ;
        }

        .processing{
            width: 100%;
            text-align: center;
        }

        


  
    }
  
    @media #{$medium-and-up}{
  
    }
  
    @media #{$large-and-up}{
  
    }
  }
  