<nav id="nav">
  <div class="nav-wrapper clearfix">
    <a href="/" class="brand left">Indielab.</a>
    <ul class="main-nav right">
      <li>
        <a href="/login"> Beta Login</a>
      </li>
    </ul>
  </div>
</nav> 